@using WebMusica.Models
@model E_Cancion
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="display-3">Editar Cancion</h1>
        <form action="/Cancion/Editar" method="post">
            <input type="hidden" name="idCancion" value="@Model.idCancion" />

            <label>Titulo</label>
            <input type="text" name="titulo" class="form-control" />

            <label>Artista</label>
            <input type="text" name="artista" class="form-control" />

            <label>Album</label>
            <input type="text" name="album" class="form-control" />

            <label>Duracion</label>
            <input type="text" name="duracion" class="form-control" />

            <label>fecha de lanzamiento</label>
            <input type="date" name="fechaLanzamiento" class="form-control" />

            <label>Genero</label>
            <input type="text" name="Genero" class="form-control" />

            <input type="submit" value="Guardar" class="btn btn-success" />
        </form>
    </div>
</body>
</html>
