
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container" style="margin: 0 auto; width: 50%;">
            <br /><br />
            <h1>Buscador de palabras </h1>
            <br />
            <a href="/Home/IntroducirA" class="btn btn-info">Palabras que contengan "va" y "ba"</a>
            <br /><br /><br />
            <a href="/Home/BucarB" class="btn btn-info">Palabras que contengan "comp" y "cion"</a>
            <br /> <br />
            <a href="/Home/Salida" class="btn btn-danger">Salir</a>
        </div>

    </div>
</body>
</html>
